# Assignment 1 - Intro to Python
___

## Exercise 1: Basics

### 1.1 

Convert the cell below into a markdown cell with the following content:

- A level 3 header titled "Markdown Cell"
- The following text: "This is a markdown cell"
- The following text in bold: "This is bold text"
- The following text in italics: "This text is italicized"

In [1]:
# 1.1 Answer
# Here is how you create a level-3 header title with

### Markdown Cell

In [2]:
# Here I used ** in the markdown cell

**This is a markdown cell**

In [3]:
# Here I used * in the markdown cell

*This text is italicized*

### 1.2

What's the difference between a local and a global variable in Python? 
Use a multiline comment in the cell below for your answer.

In [5]:
# 1.2 Answer
"""
The main differences between a local and global variable is where a variable can be accessed or modified in the program.

A global variable is found outside of any function and is accessible throughout the program. 

A local variable is found inside a function and is only used within that function.

For example (Note: This code is not real, it shows the concepts):

x = 10  # This is a global variable

def some_function():
    do something with x in a function
    return something with x = 20  # This is a local variable, which changes the global variable
   
   print(x)  # The output is 20, not the 10 for x

"""

'\nThe main differences between a local and global variable is where a variable can be accessed or modified in the program.\n\nA global variable is found outside of any function and is accessible throughout the program. \n\nA local variable is found inside a function and is only used within that function.\n\nFor example (Note: This code is not real, it shows the concepts):\n\nx = 10  # This is a global variable\n\ndef some_function():\n    do something with x in a function\n    return something with x = 20  # This is a local variable, which changes the global variable\n   \n   print(x)  # The output is 20, not the 10 for x\n\n'

### 1.3

Correct the following variable names following Python variable naming convention.

In [2]:
# 1.3.1

lst_variable = 'Hello'

In [7]:
# 1.3.1 Answer
first_variable = 'Hello'
first_variable

'Hello'

In [8]:
# 1.3.2

My_VAR = '5'
My_VAR # Even though this still works in Python, the convention is lowercase

'5'

In [9]:
# 1.3.2 Answer
my_var = '5'
my_var

'5'

### 1.4

Given the variables:

    country = 'Canada'
    city = 'Ottawa'

Use the `format()` method to print the following string: "**The capital of Canada is Ottawa**"

In [10]:
# 1.4 Answer
country = 'Canada'
city = 'Ottawa'

print("The capital of {} is {}".format(country, city))

The capital of Canada is Ottawa

## Exercise 2: Python Data Types

### 2.1 

Perform the following conversions:

In [11]:
# 2.1.1
# Convert this string into an integer using the int() function

s = '123'

In [12]:
# 2.1.1 Answer
s = '123'
i = str(s)
i

'123'

In [13]:
# 2.1.2
# Convert this number to a string using the str() function

i = 456

In [14]:
# 2.1.2 Answer

i = 456
i = str('456')
i

'456'

In [15]:
# 2.1.2 
# Convert this float to an integer

f = 3.14

In [16]:
# 2.1.2 Answer

f = 3.14
i = int(f)
i

3

## Exercise 3: Data Containers

### 3.1

Create a list called **my_list** that contains the numbers from 1-5

In [17]:
# 3.1 Answer

my_list = [5, 4, 3, 2, 1]
my_list

[5, 4, 3, 2, 1]

### 3.2

Use negative indexing to access the last element in **my_list**.

In [18]:
# 3.2 Answer
last_element = my_list[-1]
last_element

1

### 3.3

Create another list called **new_list** that contains 3 negative numbers only.

In [19]:
# 3.3 Answer
new_list = [-1, -2, -3]

### 3.4

Append the second element of **new_list** to **my_list**, then print the updated **my_list**.

In [20]:
# 3.4 Answer
my_list.append(new_list[1])
print(my_list)

[5, 4, 3, 2, 1, -2]

### 3.5

Create a dictionary with the following keys, 'Name', 'Year', 'Music' and 'Food'. The values associated with each key (in order) should be your name, the current year, you favourite genre of music and one of your favourite foods. 

Name the dictionary **my_dict** and print it.

In [21]:
# 3.5 Answer
my_dict = {'Name': 'Milton', 'Year': 2024, 'Music': 'Folk', 'Food': 'Indian'}

### 3.6

Replace the value associated with 'Food' to another one of your favourite foods.
Print the updated dictionary.

In [22]:
# 3.6 Answer
my_dict["Food"] = "Candy"
my_dict

{'Name': 'Milton', 'Year': 2024, 'Music': 'Folktronica', 'Food': 'Candy'}

### 3.7

Given this nested dictionary, grab the word "YES".

In [23]:
d = {'key':[634,11,9892,{'another key':['more','values','here',{'target':[9,8,7,'YES']}]}]}
d

{'key': [634,
  11,
  9892,
  {'another key': ['more', 'values', 'here', {'target': [9, 8, 7, 'YES']}]}]}

In [24]:
# 3.7 Answer
# Navigate through three nested structure to grab "YES"
grab_yes = d['key'][3]['another key'][3]['target'][3]
print(grab_yes)

YES

### 3.8

What is the difference between a tuple and a set?

In [ ]:
# 3.8 Answer

# Aside from syntax, (Tuples) are ordered, immutable, indexable, and allow for duplicate elements.
# Whereas {sets} are unordered, mutable, not indexable, and do not allow duplicate elements.

### 3.9

Given the following list:

`l = [1,2,3,1]`

Convert it to a list with unique values only.

In [3]:
# 3.9 Answer
l = [1,2,3,1]
new_l = list(set(l))
new_l

[1, 2, 3]

## Exercise 4: Python Operators

### 4.1

Perform the follwoing arithmetic operation: (5+3) x 2

In [29]:
# 4.1 Answer
calculation_1 = (5+3) * 2
calculation_1

16

In [31]:
x = 10//2
x

5

### 4.2

Explain the difference between `/` and `//` division operators in Python

In [6]:
# 4.2 Answer
# / divides numbers 
# for example: 5/2 = 2.5 as a float (and always includes a decimal)
# // division operator returns an integer  rounding down to the nearest whole number
# for example: 5//2 has a remainder of 2
x = 7//3
x

2

### 4.3

What is the result of 7%3?

In [32]:
# 4.3
# My first guess without checking was: 2
x = 7%3
x
# I can see the error, I was still thinking in terms of // . 
# I see now how % works (as a remainder to help when we need to find Odd or Even numbers)

1

### 4.4

Use the `in` operator to check whether the number 3 and the number 7 are in the following list:

In [33]:
lst = [1,2,3,4,5]

In [36]:
# 4.4 Answer (Don't forget to print your results)
if 3 in lst:
    print("Yes, there is a 3 in the list.")
elif 7 in lst:
    print("Yes, there is a 7 in the list.")
else:
    print("No, the 3 and 7 are not in this list.")

Yes, there is a 3 in the list.

### 4.5

Explain the difference between `=` and `==` using the following two variables:

In [38]:
x = 5
y = 10

In [39]:
# 4.5 Answer

# = operator assigns a value to a variable
print(x + y)

15

In [40]:
# == operator compares to values for boolean (True vs. False) statements
print(x == y)

False

In [41]:
y = 5
print(x == y)

True

# The End!