# Workshop 2 - Intermediate Python
___

## Exercise 1

### 1.1

Use conditional logic to check if a number is positive, negative or zero.

Try the following values for `num`:

- 3
- -7
- 0

In [1]:
# 1.1 Answer

def check_number(num):
    if num > 0:
        print (f"{num} is positive.")
    elif num < 0:
        print (f"{num} is negative.")
    else:
        print(f"{num} is zero.")

check_number(3)  
check_number(-7)
check_number(0)

3 is positive.
-7 is negative.
0 is zero.

### 1.2

Use conditional logic to check if a number is even or odd.

Try the following values for `num`:

- 234
- 81

In [2]:
# 1.2 Answer
def check_odd_even(num):
    if num % 2 == 0:
        print(f"This {num} is even.")
    else:
        print(f"This {num} is odd.")

check_odd_even(234)
check_odd_even(81)

This 234 is even.
This 81 is odd.

### 1.3

Determine the largest among 3 numbers: 

```
num1 = 23
num2 = 45
num3 = 6
```

In [3]:
# 1.3 Answer
# This was my first attempt
def largest_num(num1, num2, num3):
    return max(num1, num2, num3)

largest_num(23, 45, 6)

45

In [4]:
# However, this is about logical conditions
# Harder to think about since I had to evaluate the steps
def largest_number(num1, num2, num3):
    largest= num1
    if num2 > num1:
        largest = num2
    if num3 > num1:
        largest = num3
    return largest

largest_number(23, 45, 6)

45

## Exercise 2

### 2.1

Write a loop that iterates over a list of strings and prints `True` if the string is a palindrome and `False` if the string isn't. 

A palindrome is a word that is read the same backward as forward,e.g. noon, level, civic, etc.,)

`words = ['ball', 'kayak', 'song', 'Python', 'madam', 'racecar', 'Laval']`

In [5]:
# 2.1 Answer
def check_string(word):
    return word == word[::-1]

words = ['ball', 'kayak', 'song', 'Python', 'madam', 'racecar', 'Laval']

for word in words:
    print(check_string(word))

False
True
False
False
True
True
False

### 2.2

Find the sum of all even numbers from 1 to a 100.

In [6]:
# 2.2 Answer

sum_even = 0

for num in range(1, 101):
    if num %2 == 0:
        sum_even += num 

sum_even

2550

### 2.3

You have a list called `cities` with the following elements: 

```
cities = ['Toronto', 'Vancouver', 'Montreal']
```

Use a for loop to return a list of these elements in reversed order. Call your new list `reversed_cities`.

```
reversed_cities = ['otnoroT', 'revuocnaV', 'laertnoM']
```

In [7]:
# 2.3 Answer
cities = ['Toronto', 'Vancouver', 'Montreal']

# Initialize an empty list to store the new data to be created
reversed_cities = []
 
for city in cities:
    reversed_cities.append(city[::-1])
    
reversed_cities

['otnoroT', 'revuocnaV', 'laertnoM']

## 2.4

Reverse the same above string, but this time using a function. Create a function called `reverse_string()` that will take in the list of cities, then reverses that string.

In [8]:
# 2.4 Answer

def reverse_string(cities):
    reversed_cities = []
    for city in cities:
        reversed_cities.append(city[::-1])
    return reversed_cities

cities = ['Toronto', 'Vancouver', 'Montreal']

reversed_cities = reverse_string(cities)

reversed_cities

['otnoroT', 'revuocnaV', 'laertnoM']

## Exercise 3

### 3.1

Write a Python function called `test_distinct()` that takes a sequence of numbers and determines whether all the numbers in that sequence are distinct from one another, or not.

Your function should have the following output, when the following lists are passed as arguments:

```
test_distinct([2,3,4,5,7,8]) -> True

test_distinct([2,3,4,5,8,8]) -> False
```

In [9]:
# 3.1 Answer
def test_distinct(numbers):
    unique_element = set(numbers)
    # Comparing one list to another without duplicates
    return len(numbers) == len(unique_element)   

print(test_distinct([2,3,4,5,7,8]))
print(test_distinct([2,3,4,5,8,8]))

True
False

### 3.2

Creates a function called `first_last()` that takes a string of text and returns the first and last characters of that string.

You should get the following output:

```
first_last('Montreal') -> 'Ml'
```

In [10]:
# 3.2 Answer
def first_last(text):
    return text[0] + text[-1]

first_last('Montreal')

'Ml'

### 3.3

Create a function called `get_century()` that takes a year and returns its corresponding century.

For example, your `get_century()` function should return the following:

```
get_century(2005) ➞ 21

get_century(1850) ➞ 19

get_century(-332) ➞ -4

get_century(55) ➞ 1

get_century(-65) ➞ -1
```

In [11]:
# 3.3 Answer
def get_century(year):
    if year < 0:
         # For negative years (e.g. -101 year is 2nd century not 1st)
        century = (year + 1) // 100
    else:
        # Since division truncates any remainder, we add 1 so the result is rounded up
        century = year // 100 + 1
    return century
 
print(get_century(2005))
print(get_century(1850))
print(get_century(-332))
print(get_century(55))
print(get_century(-65))

21
19
-4
1
-1

## Exercise 4

### 4.1

You have the following list of user IDs.

```
lst = [gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, GHsg1s54sda8-CA, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK, 45asdjJHHghsdas-CA
]
```

Each ID is made up of a unique userID section, as well as a countryID section.

Create a function called `country_counter()` that takes in the above list, and gives the following output:

```
{'US': 3, 'CA': 3, 'IT': 2, 'FR': 1, 'UK': 1}
```

In [12]:
# 4.1 Answer

def country_counter(lst):
    # Initialize an empty dictionary
    country_counts = {}
    
    for user_id in lst:
        # Extracting the country code from the user ID
        country_code = user_id[-2:]
        # Counting country code
        country_counts[country_code] = country_counts.get(country_code, 0) + 1
    
    return country_counts

lst = ['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', '98yfyg82t3r-US',
       'iuhsdf897y3righsfe-US', 'iushdf98h23ryg-IT', 'GHsg1s54sda8-CA',
       'iuhdf9h32ryu9gf-IT', 'IUufgh98y34-FR', '98yfdiuhdfbviuh8-UK',
       '45asdjJHHghsdas-CA']

country_counter(lst)

{'US': 3, 'CA': 3, 'IT': 2, 'FR': 1, 'UK': 1}

### Exercise 4.2

Create a function called `factorial()` that computes the factorial of a given number. 

In math the factorial of a positive integer is the product of all integers smaller than or equal to that integer, starting from 1. 

For example, the factorial of 4 (4!) can be calculated as follows:

$$4! = 4*3*2*1$$
$$4! = 24$$

Your `factorial()` function should have the following output for the number 4:

```
factorial(4) --> 24
```

In [13]:
# 4.2 Answer
def factorial(n):
    # Base case: factorial of 0 as 1
    if n == 0:
        return 1
    # Forumula is to multiply n by the factorial (n-1)
    else:
        return n * factorial(n - 1)

factorial(4)

24

### 4.3

Create a function called `gcd()` to find the greatest common divisor (GCD) of the following two numbers: 99 and 45.

In [14]:
# 4.3 Answer
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

gcd(99, 45)

9

## Exercise 5

### 5.1

Create a function called `pyramid()`, that takes in a number, then prints a sideways pyramid with a number of levels that is equivalant to that number.

For example, `pyramid(4)` should print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

Print an 8 leveled pyramid like the one below with your `pyramid()` function:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [15]:
# 5.1 Answer
def pyramid(levels):
    '''
      Insert code here, unable to determine
      print("*")    
    
    '''
# Test the function with 8 levels
pyramid(8)

# The End!