# Exploratory Data Analysis Project
___

You will be working with the `covid19-can.csv` file located in the `Data` folder.

This dataset is obtained from the [Government of Canada Public Healht Infobase](https://www.activestate.com/resources/quick-reads/what-is-pandas-in-python-everything-you-need-to-know/) and contains information on daily reported COVID-19 cases as well as total COVID-19 deaths in all provinces of Canada.

**Analyze the above dataset to answer the following questions:**

1. What is the total number of COVID-19 cases reported in each province?
2. Which province has the highest average rate of COVID-19 per capita?
3. What is the average rate of COVID-19 deaths per capita?
4. What is the overall mortality rate of COVID-19 in Canada?
5. What is the mortality rate per province?
6. What are the total reported cases per year?
7. For each year in the dataset, find the month with the highest total number of cases.
8. For each year, find the month with the lowest total number of cases.
9. Which year had the highest mortality rate?
10. Which year had the lowest total number of cases?
11. Which year had the highest total number of cases?
12. In 2020, on which day did Quebex have the highest number of COVID-19 deaths?

## Step 1: Imports

In [1]:
import pandas as pd
import numpy as np

## Step 2: Reading Data

In [2]:
df = pd.read_csv('covid19-can.csv')
df
df.head()

,prname,date,reporting_week,totalcases,ratecases_total,numdeaths,ratedeaths
0,British Columbia,2020-02-01,5,1,0.02,0,0.0
1,Alberta,2020-02-01,5,0,0.00,0,0.0
2,Saskatchewan,2020-02-01,5,0,0.00,0,0.0
3,Manitoba,2020-02-01,5,0,0.00,0,0.0
4,Ontario,2020-02-01,5,3,0.02,0,0.0

In [3]:
df.tail()

,prname,date,reporting_week,totalcases,ratecases_total,numdeaths,ratedeaths
3175,Yukon,2024-02-17,7,4989,11393.27,32,73.08
3176,Northwest Territories,2024-02-17,7,11511,25240.65,22,48.24
3177,Nunavut,2024-02-17,7,3531,8712.93,7,17.27
3178,Repatriated travellers,2024-02-17,7,13,NaN,0,NaN
3179,Canada,2024-02-17,7,4933311,12672.29,58475,150.21

## Step 3: Data Exploration

Explore the dataset to better understand its characteristics, structure, content and data types.

In [4]:
display(df.describe())

,reporting_week,totalcases,ratecases_total,numdeaths,ratedeaths
count,3180.000000,3.180000e+03,2968.000000,3180.000000,2968.000000
mean,26.334906,3.518890e+05,7405.393693,4425.555975,59.537823
std,15.176101,8.596645e+05,7583.690076,10030.916779,56.302812
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,13.000000,7.955000e+02,289.237500,7.000000,6.367500
50%,26.000000,4.258900e+04,6962.710000,217.000000,48.240000
75%,39.250000,1.613332e+05,11386.880000,3002.500000,98.690000
max,53.000000,4.933311e+06,34224.430000,58475.000000,227.440000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3180 entries, 0 to 3179
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prname           3180 non-null   object
 1   date             3180 non-null   object
 2   reporting_week   3180 non-null   int64
 3   totalcases       3180 non-null   int64
 4   ratecases_total  2968 non-null   float64
 5   numdeaths        3180 non-null   int64
 6   ratedeaths       2968 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 174.0+ KB

## Step 4: Data Preparation

In [6]:
# Check for missing values
df.isnull().sum()

prname               0
date                 0
reporting_week       0
totalcases           0
ratecases_total    212
numdeaths            0
ratedeaths         212
dtype: int64

In [7]:
# Find all unique values in the 'prname' column
unique_prnames = df['prname'].unique()
unique_prnames

array(['British Columbia', 'Alberta', 'Saskatchewan', 'Manitoba',
       'Ontario', 'Quebec', 'Newfoundland and Labrador', 'New Brunswick',
       'Nova Scotia', 'Prince Edward Island', 'Yukon',
       'Northwest Territories', 'Nunavut', 'Repatriated travellers',
       'Canada'], dtype=object)

In [26]:
# Fill missing values with the mean of each column
df.fillna(df.mean(), inplace=True)

df.isnull().sum()

C:\Users\milto\AppData\Local\Temp\ipykernel_37668\1329724114.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.fillna(df.mean(), inplace=True)
C:\Users\milto\AppData\Local\Temp\ipykernel_37668\1329724114.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

prname             0
date               0
reporting_week     0
totalcases         0
ratecases_total    0
numdeaths          0
ratedeaths         0
year               0
month              0
dtype: int64

In [9]:
# Display the number of rows before deletion
print(f"Number of rows before deletion: {len(df)}")

# Delete all records with 'Canada' in the 'prname' column
df = df[df['prname'] != 'Canada']

# Display the number of rows after deletion
print(f"Number of rows after deletion: {len(df)}")

Number of rows before deletion: 3180
Number of rows after deletion: 2968

In [10]:
# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Verify the conversion
df['date'].head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2968 entries, 0 to 3178
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prname           2968 non-null   object
 1   date             2968 non-null   datetime64[ns]
 2   reporting_week   2968 non-null   int64
 3   totalcases       2968 non-null   int64
 4   ratecases_total  2968 non-null   float64
 5   numdeaths        2968 non-null   int64
 6   ratedeaths       2968 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 185.5+ KB

In [11]:
# Create a 'year' column
df['year'] = df['date'].dt.year

# Verify the creation of the 'year' column
df[['date', 'year']].head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2968 entries, 0 to 3178
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prname           2968 non-null   object
 1   date             2968 non-null   datetime64[ns]
 2   reporting_week   2968 non-null   int64
 3   totalcases       2968 non-null   int64
 4   ratecases_total  2968 non-null   float64
 5   numdeaths        2968 non-null   int64
 6   ratedeaths       2968 non-null   float64
 7   year             2968 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 208.7+ KB

In [12]:
# Create month column
df['month'] = df['date'].dt.month

# Verify the creation of the 'year' and 'month' columns
df[['date', 'year', 'month']].head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2968 entries, 0 to 3178
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prname           2968 non-null   object
 1   date             2968 non-null   datetime64[ns]
 2   reporting_week   2968 non-null   int64
 3   totalcases       2968 non-null   int64
 4   ratecases_total  2968 non-null   float64
 5   numdeaths        2968 non-null   int64
 6   ratedeaths       2968 non-null   float64
 7   year             2968 non-null   int64
 8   month            2968 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 231.9+ KB

## Step 5: Data Analysis

In [13]:
# 1. Total number of COVID-19 cases reported in each province
total_cases_per_province = df.groupby('prname')['totalcases'].sum().reset_index()
total_cases_per_province.columns = ['Province', 'Total Cases']
print(total_cases_per_province)

                     Province  Total Cases
0                     Alberta     80504411
1            British Columbia     51249692
2                    Manitoba     19485185
3               New Brunswick      8912651
4   Newfoundland and Labrador      5629703
5       Northwest Territories      1256158
6                 Nova Scotia     13941547
7                     Nunavut       407810
8                     Ontario    193613879
9        Prince Edward Island      5385603
10                     Quebec    159348011
11     Repatriated travellers         2667
12               Saskatchewan     19218685
13                      Yukon       547530

In [14]:
# 2. Province with the highest average rate of COVID-19 cases per capita

# Calculate the average rate of COVID-19 cases per capita for each province
average_rate_per_province = df.groupby('prname')['ratecases_total'].mean()

# Find the province with the highest average rate of COVID-19 cases per capita
highest_average_rate_province = average_rate_per_province.idxmax()
highest_average_rate_value = average_rate_per_province.max()

print(f"{highest_average_rate_province} had the highest average rate of {highest_average_rate_value} cases per capita.")

Prince Edward Island had the highest average rate of 14883.17174528302 cases per capita.

In [15]:
# 3. Average rate of COVID-19 deaths per capita in each province

average_death_rate_per_province = df.groupby('prname')['ratedeaths'].mean()

average_death_rate_per_province

prname
Alberta                       74.866557
British Columbia              56.885755
Manitoba                     104.345000
New Brunswick                 46.505094
Newfoundland and Labrador     27.750472
Northwest Territories         26.178160
Nova Scotia                   36.972264
Nunavut                       10.858443
Ontario                       72.335519
Prince Edward Island          23.321557
Quebec                       141.923302
Repatriated travellers        59.537823
Saskatchewan                  87.859528
Yukon                         38.467547
Name: ratedeaths, dtype: float64

In [16]:
# 4. Overall mortality rate of COVID-19 in Canada
total_cases = df['totalcases'].sum()
total_deaths = df['numdeaths'].sum()

# Calculate the overall mortality rate
overall_mortality_rate = (total_deaths / total_cases) * 100

print("This is the percent of overall morality rate of COVID-19 in Canada:")
overall_mortality_rate

This is the percent of overall morality rate of COVID-19 in Canada:

1.2576567613160303

In [17]:
# 5. Mortality rate per province

# Calculate total cases and total deaths per province
province_totals = df.groupby('prname')[['totalcases', 'numdeaths']].sum()

# Calculate the mortality rate per province
province_totals['mortality_rate'] = (province_totals['numdeaths'] / province_totals['totalcases']) * 100

province_totals

                           totalcases  numdeaths  mortality_rate
prname
Alberta                      80504411     721071        0.895691
British Columbia             51249692     641500        1.251715
Manitoba                     19485185     311736        1.599862
New Brunswick                 8912651      80061        0.898285
Newfoundland and Labrador     5629703      30944        0.549656
Northwest Territories         1256158       2531        0.201487
Nova Scotia                  13941547      79929        0.573315
Nunavut                        407810        933        0.228783
Ontario                     193613879    2317048        1.196737
Prince Edward Island          5385603       8439        0.156696
Quebec                      159348011    2616324        1.641893
Repatriated travellers           2667          0        0.000000
Saskatchewan                 19218685     222547        1.157972
Yukon                          547530       3571        0.652202

In [18]:
# 6. Total reported cases per year
# Calculate total reported cases per year
total_cases_per_year = df.groupby('year')['totalcases'].sum()

total_cases_per_year

year
2020      6505799
2021     69106139
2022    204978389
2023    244473764
2024     34439441
Name: totalcases, dtype: int64

In [19]:
# 7. Month with highest total cases for each year

# Calculate total cases per year and month
cases_per_year_month = df.groupby(['year', 'month'])['totalcases'].sum().reset_index()

# Find the month with the highest total cases for each year
max_cases_per_year = cases_per_year_month.loc[cases_per_year_month.groupby('year')['totalcases'].idxmax()]

max_cases_per_year

    year  month  totalcases
10  2020     12     1916862
20  2021     10     8371901
34  2022     12    22382180
46  2023     12    24342892
47  2024      1    19650173

In [20]:
# 8. Month with lowest total cases for each year
max_cases_per_year = cases_per_year_month.loc[cases_per_year_month.groupby('year')['totalcases'].idxmax()]

max_cases_per_year

    year  month  totalcases
10  2020     12     1916862
20  2021     10     8371901
34  2022     12    22382180
46  2023     12    24342892
47  2024      1    19650173

In [21]:
# 9. Yearly mortality rate

# Calculate total deaths and total cases per year
deaths_per_year = df.groupby('year')['numdeaths'].sum().reset_index()
cases_per_year = df.groupby('year')['totalcases'].sum().reset_index()

# Merge deaths and cases per year
yearly_data = pd.merge(deaths_per_year, cases_per_year, on='year', how='inner')

# Calculate mortality rate per year
yearly_data['mortality_rate'] = (yearly_data['numdeaths'] / yearly_data['totalcases']) * 100

# Print the yearly mortality rate
print(yearly_data[['year', 'mortality_rate']])

   year  mortality_rate
0  2020        5.117619
1  2021        1.875282
2  2022        1.074235
3  2023        1.144756
4  2024        1.182304

In [22]:
# 10/11: Year with lowest total cases
# Calculate total reported cases per year
total_cases_per_year = df.groupby('year')['totalcases'].sum().reset_index()

# Find the year with the lowest total number of cases
year_with_lowest_cases = total_cases_per_year.loc[total_cases_per_year['totalcases'].idxmin()]

year_with_lowest_cases

year             2020
totalcases    6505799
Name: 0, dtype: int64

In [23]:
# 11. Year with highest total cases
year_with_highest_cases = total_cases_per_year.loc[total_cases_per_year['totalcases'].idxmax()]

year_with_highest_cases

year               2023
totalcases    244473764
Name: 3, dtype: int64

In [24]:
# 12. Day with highest number of COVID-19 deaths for Quebec in 2020

# Create a 'year' column
df['year'] = df['date'].dt.year

# Filter the dataset for Quebec in 2020
quebec_2020 = df[(df['prname'] == 'Quebec') & (df['year'] == 2020)]

# Find the day with the highest number of COVID-19 deaths
day_with_highest_deaths = quebec_2020.loc[quebec_2020['numdeaths'].idxmax()]

day_with_highest_deaths

prname                          Quebec
date               2020-12-26 00:00:00
reporting_week                      52
totalcases                      186323
ratecases_total                2142.71
numdeaths                         7662
ratedeaths                       88.11
year                              2020
month                               12
Name: 710, dtype: object

The End!